<div class="container">
  <h1>Add New Group</h1>
    <%= simple_form_for(@group) do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.button :submit %>
    <% end %>
</div>